#!/bin/bash

set -eufo pipefail


{{ $brews := list
     "rustup-init"
     "yarn"
     "ranger"
     "pynvim"
     "pytest"
     "fd"
     "mingw-w64"
     "openjdk"
     "rust"
     "go"
     "pyinstaller"
     "python"
     "perl"
     "lua"
     "node"
     "typescript"
     "php"
     "make"
     "markmap"
     -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF


cargo install grcov

yarn add global jest typedoc jdoc

pip install nuitka

go install golang.org/x/tools/cmd/godoc@latest
