{{ if and (eq .osid "linux-pop" "linux-ubuntu") -}}
#!/bin/bash

set -eufo pipefail

curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

sudo apt update
sudo apt install yarn ranger fd-find
sudo apt install neovim python3-pip
pip install pynvim pytest
pip install pyinstaller
pip install nuitka
yarn global add jest typedoc jdoc markmap
cargo install git-delta grcov
sudo apt install mingw-w64 default-jdk python ruby perl lua5.3 make nodejs npm
sudo npm install -g typescript
go install golang.org/x/tools/cmd/godoc@latest
sudo snap install dart flutter --classic

{{ end -}}
