{{ if eq .osid "linux-ubuntu" -}}

{{ $packages := list
     "aisleriot"
     "gnome-mahjongg"
     "gnome-mines"
     "gnome-sudoku"
     "thunderbird" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get remove -y {{ $packages | join " " }}

{{ end -}}
