{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}

{{ $packages := list
     "curl"
     "wget"
     "git"
     "keychain"
     "age"
     "bat"
     "fzf"
     "gnupg"
     "shellcheck"
     "rng-tools"
     "fd-find"
     "jq"
     "openssh-server"
     "openvpn"
     "ripgrep"
     "shellcheck"
     "units"
     "zsh"
     "tmux"
     "libfuse2"
     -}}
{{ $flatpaks := list "io.neovim.nvim" -}}

{{ if eq .osid "linux-ubuntu" -}}
{{   $packages = mustAppend $packages "btop" -}}
{{ end -}}

{{ if not .headless -}}
{{   $packages = mustAppend $packages "xclip" -}}
{{   $flatpaks  = mustAppend $flatpaks "com.visualstudio.code" -}}
{{ end -}}


{{ if and .personal (not .headless) -}}
{{   $flatpaks  = concat $flatpaks (list
     "org.telegram.desktop"
     "md.obsidian.Obsidian"
) -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ $sudo }}apt install -y flatpak && \
{{ $sudo }}flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
{{ $sudo }}apt install -y gnome-software gnome-software-plugin-flatpak

{{ if lookPath "flatpak" }}
{{   range $flatpaks  }}
{{ $sudo }}flatpak install -y flathub {{ . }}
{{   end }}
{{ end }}

{{ end -}}
