{{ if and (eq .osid "linux-pop" "linux-ubuntu") (not .ephemeral) (not .headless) -}}

#!/bin/sh

sudo apt-get -y git gnome-tweak-tool gnome-tweaks gnome-themes-extra gtk2-engines-murrine sassc

git clone https://github.com/vinceliuice/Tela-circle-icon-theme.git icon-theme
bash -c "cd icon-theme && ./install.sh"

git clone https://github.com/vinceliuice/Graphite-gtk-theme.git graphite-theme
bash -c "cd graphite-theme && chmod +x ./install.sh && sudo ./install.sh -g --tweaks nord darker"
## bash -c "cd graphite-theme/other/grub2 && chmod +x ./install.sh && sudo ./install.sh -b"
bash -c "cd graphite-theme/wallpaper && chmod +x ./install-wallpapars.sh && ./install-wallpapars.sh"
rm -rf graphite-theme && rm -rf icon-theme

{{ end -}}
