{{ if eq .osid "linux-ubuntu" -}}

{{ $packages := list
     "aisleriot"
     "gnome-mahjongg"
     "gnome-mines"
     "gnome-sudoku"
     "npm"
     "nodejs"
     "thunderbird" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get remove -y {{ $packages | join " " }}

{{ $sudo }}apt purge -y snapd && \
{{ $sudo }}rm -rf ~/snap && \
{{ $sudo }}rm -rf /snap && \
{{ $sudo }}rm -rf /var/snap && \
{{ $sudo }}rm -rf /var/lib/snapd && \
{{ $sudo }}apt-mark hold snap

{{ end -}}
