{{ if and (eq .osid "linux-pop" "linux-ubuntu") -}}
#!/bin/bash

set -eufo pipefail

sudo apt update
sudo apt install yarn ranger fd-find
sudo apt install neovim
pip install pynvim pytest
yarn add global jest typedoc jdoc
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
cargo install git-delta grcov
sudo apt install mingw-w64 default-jdk python ruby perl lua5.3 make nodejs npm
sudo npm install -g typescript
pip install pyinstaller
pip install nuitka
go install golang.org/x/tools/cmd/godoc@latest
sudo snap install dart flutter --classic

{{ end -}}
